body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
    text-align: center;
  background-color: #0b12e5;
  padding: 20px;
  color: #fff;
}

h1 {
  font-size: 24px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

aside {
  flex: 0 0 250px;
  background-color: #fff;
  padding: 20px;
}

.search-sect {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color:#0b12e5;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}


.recent-sect {
  font-size: 20px;
 
}

section {
  flex: 1;
  background-color: #fff;
  padding: 20px;
}

#weather {
  border: 3px solid #cccccc;
  box-shadow: 10px 5px 5px grey
}
#forecast-container ul {
  border: 5px solid #d81111;
}
.weather-location {
  font-size: 20px;
  margin-bottom: 10px;
}

.weather-info {
  display: flex;
  flex-wrap: wrap;
}

.weather-info div {
  flex-basis: 50%;
  padding: 5px 0;
}
#recent-locations {
color:black;
  background-color: #eee8e8;
  padding: 10px;
  margin-top: 20px;
}

 #forecast #forecast-container {
  color: white;
}

#forecast div.card {

    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
      margin-top: 20px;
      background-color: #0b49e4;
      margin-top: 20px;
    padding: 10px;
    margin-right: 11px;
}


#forecast h1 {
  
  font-size: 18px;
  margin-bottom: 10px;
}

#forecast-day {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
      margin-top: 20px;
}



@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  aside {
    flex: 1 0 auto;
    margin-bottom: 20px;
  }
}
