
#map {
    height: 400px;
    width: 100%;
  }
  
  
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
  
    aside {
      flex: 1 0 auto;
      margin-bottom: 20px;
    }
  }
  